@{
    System.Media.SoundPlayer player = new System.Media.SoundPlayer(@"C:\Users\Jack\source\repos\WebApplication2\WebApplication2\Wav\test.wav");
    player.Stop();
}

<div class="col-md-6">
    <label style="font-size:300PX;'Blackadder ITC;'">EAT MY SHORTS </label>
</div>
<div class="col-md-6">
    <label style="font-size:200PX;">EAT MY SHORTS</label>
</div>
<button id="ButtonId" onclick="SoundOnNdOff()">Test button</button>

<script>


    function SoundOnNdOff()
    {

        if (button.click == true)
        {
            console.log('On');
        }

        if (switcher == false)
        {
            console.log('Off')
        }


    }
</script>

